main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content{
    width: 441px;
}

.main-content h1{
    width: 458px;
    font-size: 58px;
}

.main-button{
    display: flex;
    gap: 10px;
}

main img{
    width: 586px;
    height: 644px;
}