@import url(/src/styles/global.css);



/* ------ Footer ------- */

footer{
    
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 59px;
    padding: 50px 0px;
}

.footer-list ul{
    list-style: none;
    margin-top: 20px;
    
}

.footer-list a{
    text-decoration: none;
}

.footer-list li{
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--color--text--grey);
}

.get-in-touch li{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    font-weight: bold;
    color: var( --color--text--grey);   
}

.by-figmaland{
    display: flex;
    justify-content: center;
    gap: 439px;
    padding: 25px;
    background-color: var(  --color--light--gray);
}

.by-figmaland p{
    color: var(--color--text--grey);
    font-weight: bold;
    font-size: 14px;
}

.social-icons{
    display: flex;
    gap: 20.5px;
    align-items: center;
}

/* ------ fim Footer ------- */
