header{
    display: flex;
    align-items: center;
    gap: 239px;
    margin: 0px 59px;
}

header h1{
    font-size: 24px;
}

.nav-header{
    display: flex;
    gap: 240px;
    align-items: center;
}

.nav-header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-header a{
    text-decoration: none;
    
}



.header-button{
    display: flex;
    gap: 45px;
}