@import url(../../styles/global.css);

.most-popular{    
   text-align: center;
   margin-bottom: 60px ;    
}

.practice-conteiner{
    display: flex;
}

.most-popular h4{
   margin-top: 10px;
   font-family:var(--font--family--regular);
   color:#96BB7C;
}

.most-popular h2{
   margin-top: 15px;
}


.training-conteiner img{
   margin-bottom: 10px;
   width: 70px;
}

.line-red{
   background-color: var(--color--danger);
   height: 3px;
   width: 60px;
}

.gradual-content{
   width: 156px;
   border-radius: 0%;
   color: #737373;
   font-family:var(--font--family--regular);
}


.training-conteiner{
   display: flex;
   margin-top: 60px;
   gap: 30px;
   justify-content: center;
}

.training-conteiner article{
   margin-top: 80px;
   width: 328px; 
   box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
   padding: 103px 69px;
   text-align: center;
   border-radius: 0px; 
   transition: 0.5s;
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.training-conteiner article:hover{
   box-shadow: 0px 8px 12px rgba(171, 190, 209, 0.5);
   transform: translateY(-8px);
}

.training-conteiner article h2{
    font-size: 28px;
}
/* FIM DO MOST-POPULAR-COURSES */

/*         MOST-POPULAR-COURSES                  */

@media (max-width: 435px) {
   
   .most-popular{
      text-align: center;
      margin-top: 15px;
   }

   .most-popular h4{
      margin-top: 15px;
      margin-bottom: 15px;
   }

   .p-problems{
      margin-top: 15px;
      width: 300px;
   }

   .training-conteiner{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .training-conteiner article{
      margin-top: 50px;
      padding: 15px; 
      box-shadow: 0px 2px rgb(171, 190, 209, 0.2);
   }

   .training-conteiner article h2{
      font-size: 15px;
   }
}

/*       FIM-MOST-POPULAR-COURSES                  */


