@import url(../../styles/global.css);

/* COMEÇO DO OUR-POPULAR-CLIENTS */

.ourpopular{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 50px;
}

.ourpopular-conteiner h2{
   width: 268px;
   margin-bottom: 35px;
}

.ourpopular-conteiner p{
    width: 345px;
    margin-bottom: 35px;
}

.ourpopular-conteiner{
    border-top: 6px solid var(--color--danger);
    width: 95px;
    border-radius: 0%;
    padding: 20px 0px;
    margin-top: 20px;
}

.ourpopular-conteiner button{
    color: #96BB7C;
    background-color: white;
}


.learn-more button{
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
    font-size: 12px;
    font-family: var( --font--family--bold); 
}
/* FIM DO OUR-POPULAR-CLIENTS */



@media (max-width: 435px) {
    
    .ourpopular{
      gap: 20px;
      margin: 50px;
      padding-right: 39%;
      flex-direction: column-reverse;
    }
   
    .ourpopular-conteiner h2{
        width: 268px;
        margin-bottom: 15px;
        margin-bottom: 10px;
     }

     .ourpopular-content img{
        width: 350px;
        margin-top: 15px;
        padding-left: 22%;
     }
     
     .ourpopular-conteiner p{
        width: 295px;
    }

     .learn-more img{
       width: 10px;
     }

}
